/* 
    Document   : app
    Created on : 15 May, 2014, 6:29:32 PM
    Author     : nikhil
    Description:
        Purpose of the stylesheet follows.
*/

/*------------ Shared Css ------------------*/
.navbar{
    background: #BE212C;
}

.def_error
{    
background-color: #FCF8E3;
                        border: 1px solid #FBEED5;
                        border-radius: 4px;
                        margin-bottom: 20px;
                        padding: 8px 35px 8px 14px;
                        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
                          background-color: #F2DEDE;
                        border-color: #EED3D7;
                        color: #B94A48;    
}

fieldset.custom-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.custom-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    margin-top: 14px;
    border-bottom-color: #fff;
    /*border-bottom:none;*/
}

/*.table tr.field-tr{
    boe: none;
}*/

/*------------ Create Brand ------------------*/
#grp-statics{
    width: 80%;
    min-height: 250px;
}

#bar-chart{
    width:90% ; 
    min-height:250px;
}

/*------------ Create Brand ------------------*/
.custom-input-file .file-label{
    max-width: 446px;
}

/*------------ Create Car ------------------*/
.car-variant-grp .help-block{
    margin-top: 14px;
    margin-bottom: -14px;
}

.car-variant-grp span.help-inline{
    cursor: pointer;
    margin-left: 8px;
}